<div class="container slider-conteiner">
  <div class="single-item slider-bg">
    <div class="header-bg header-bg-one">
      <img
        srcset="
          /img/slider/desktop/slider1.webp     1x,
          /img/slider/desktop/slider1_@2x.webp 2x
        "
        src="/img/slider/desktop/slider1.webp"
        alt="slid1"
        width="1070"
        height="680"
      />
    </div>

    <div class="header-bg header-bg-second">
      <img
        srcset="
          /img/slider/desktop/slider2.webp     1x,
          /img/slider/desktop/slider2_@2x.webp 2x
        "
        src="/img/slider/desktop/slider2.webp"
        alt="slid1"
        width="1070"
        height="680"
      />
    </div>

    <div class="header-bg header-bg-threee">
      <img
        srcset="
          /img/slider/desktop/slider3.webp     1x,
          /img/slider/desktop/slider3_@2x.webp 2x
        "
        src="/img/slider/desktop/slider3.webp"
        alt="slid1"
        width="1070"
        height="680"
      />
    </div>
  </div>
</div>
<div class="container hero-container">
  <div class="hero-content">
    <p class="hero-content-text">A hair salon for men in Kyiv</p>
    <h1 class="hero-content-title">BarberShop</h1>
    <p class="hero-content-deskr">
      We are experts in trendy men's haircuts. We work quickly, carefully and
      with style.
    </p>
  </div>
</div>
