.header-container {
    position: relative;

    height: 680px;
}

.header-social {

    gap: 40px;
    transform: rotate(-90deg);
    position: absolute;
    bottom: 215px;
    left: -37px;
}

.header-social-list {
    display: flex;
    gap: 40px;
}

.header-social-item {}

.header-social-link {
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.2em;
    color: #303030;
}

.header-social-link-instagram {
    position: relative;
}

.header-social-link-instagram::before {
    content: '';
    position: absolute;
    left: -100px;
    top: 5px;
    width: 60px;
    height: 1px;
    background-color: #303030;
}

.header-hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    margin-top: 16px;
    margin-bottom: 16px;
    margin-right: 130px;
}


.header-logo-icon {}


.header-nav {
    display: flex;
}

.header-nav-list {
    display: flex;
    gap: 30px;
    align-items: center;
}

.header-nav-item {}

.header-nav-link {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.1em;
    color: #ffffff;
}

.header-address {

    display: flex;
    align-items: center;
    gap: 43px;
    margin-right: 17px;
}

.header-address-tel {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
}

.header-address-btn {
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #ffffff;
    padding: 12px 20px;
    border: 1px solid #ff6c00;
    border-radius: 25px;
    background-color: transparent;
}